header {
  background-color: rgb(93, 212, 115);
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

h1 {
  color: rgb(0, 39, 157);
}
