@import "../components/Profile/profile.css";
@import "../components/Navbar/navbar.css";
@import "../components/Header/header.css";
@import "../css/question-card.css";
@import "../css/new-card.css";
@import "../components/Switch/switch.css";
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

h2 {
  color: rgb(0, 39, 157);
  text-align: center;
  padding-top: 25%;
}
