* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  padding: 5%;
  text-align: center;
  background-color: rgb(93, 212, 115);
  position: fixed;
  width: 100%;
  position: relative;
  z-index: 1;
}

h1 {
  color: rgb(0, 39, 157);
}

.question-cards {
  position: absolute;
  padding: 10%;
}

.answer-hidden,
.answer-shown,
.question-bookmarked {
  outline-color: black;
  outline-style: solid;
  outline-width: 2px;
  padding: 5%;
  text-align: center;
  margin-bottom: 10%;
}

.bookmark-blank {
  position: absolute;
  top: 0;
  right: 0;
}

.question {
  font-weight: bold;
  padding: 5%;
}

.answer {
  font-style: oblique;
  padding: 5%;
}

.categorie-tags {
  font-size: smaller;
  padding: 5%;
}

.button-show-answer,
.button-hide-answer {
  padding: 3%;
}

.navbar {
  font-weight: bold;
  background-color: rgb(93, 212, 115);
  padding: 1%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

#home-page {
  background-color: rgb(226, 43, 141);
  padding: 3%;
}

#bookmarks-page {
  background-color: rgb(226, 43, 141);
  padding: 3%;
}
